html {
    font-family: "Roboto";
    & li {
        list-style-type: none;
    }
    & a {
        text-decoration: none;
        &:hover {
            text-decoration: none;
        }
    }
    & .container {
        max-width: 1230px;
    }
}


/*Header*/

.header-content {
    & .header-top {
        // background-color: sandybrown;
        padding: 10px;
        max-height: 60px;
        & .container {
            width: 100%;
            display: flex;
            justify-content: space-between;
            & .left-content {
                width: 25%;
                display: flex;
                justify-content: space-between;
                & small {
                    width: 40%;
                    // text-align: center;
                }
                & .social {
                    width: 20%;
                }
            }
            & .right-content {
                display: flex;
                width: 15%;
                justify-content: space-between;
                & #language {
                    border: none;
                }
            }
        }
    }
    & .header-main {
        width: 100%;
        background-color: black;
        & .container {
            padding: 20px;
            display: flex;
            justify-content: space-between;
            min-height: 45px;
            & .logo {
                text-align: center;
                width: 15%;
                max-width: 160px;
            }
            & .search-box {
                padding-left: 10px;
                display: flex;
                width: 80%;
                & select {
                    width: 10%;
                    background: #EFEFEF;
                    border: none;
                    border-radius: 5px 0px 0px 5px;
                }
                & #text-box-seach {
                    width: 75%;
                    border: none;
                }
                & .btn-search {
                    width: 5%;
                    background: #E9B02A;
                    border-radius: 0px 5px 5px 0px;
                    border: none;
                    box-shadow: none;
                    outline: none;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: 20px 20px;
                    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCAyMCAyMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTE5Ljc3MjIgMTguNjcyNkwxNC44OTEyIDEzLjc5MTdDMTYuMTA0NSAxMi4zMzI4IDE2LjgzNTQgMTAuNDU5MyAxNi44MzU0IDguNDE3OTdDMTYuODM1NCAzLjc3NjI4IDEzLjA1OTIgMCA4LjQxNzc2IDBDMy43NzYxOCAwIDAgMy43NzYyOCAwIDguNDE3OTdDMCAxMy4wNTkzIDMuNzc2MTggMTYuODM1MyA4LjQxNzc2IDE2LjgzNTNDMTAuNDU5IDE2LjgzNTMgMTIuMzMyNSAxNi4xMDQ1IDEzLjc5MTUgMTQuODkxMkwxOC42NzI2IDE5Ljc3MjJDMTguODI0NCAxOS45MjQxIDE5LjAyMzQgMjAgMTkuMjIyNCAyMEMxOS40MjE0IDIwIDE5LjYyMDQgMTkuOTI0MSAxOS43NzIzIDE5Ljc3MjJDMjAuMDc2IDE5LjQ2ODUgMjAuMDc2IDE4Ljk3NjMgMTkuNzcyMiAxOC42NzI2Wk0xLjU1NTE4IDguNDE3OTdDMS41NTUxOCA0LjYzMzgxIDQuNjMzNyAxLjU1NTE4IDguNDE3NzYgMS41NTUxOEMxMi4yMDE3IDEuNTU1MTggMTUuMjgwMSA0LjYzMzgxIDE1LjI4MDEgOC40MTc5N0MxNS4yODAxIDEyLjIwMTggMTIuMjAxNyAxNS4yODAxIDguNDE3NzYgMTUuMjgwMUM0LjYzMzcgMTUuMjgwMSAxLjU1NTE4IDEyLjIwMTggMS41NTUxOCA4LjQxNzk3WiIgZmlsbD0id2hpdGUiLz4KPC9zdmc+Cg==);
                    width: 53px;
                    min-width: 53px;
                }
            }
            & .toolbar {
                display: block;
                text-align: right;
                align-items: center;
                position: relative;
                width: 10%;
                & i {
                    font-size: 1.5rem;
                    color: white;
                }
                & .count-product {
                    display: block;
                    text-align: center;
                    position: absolute;
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    background-color: orange;
                    right: 20px;
                    top: -5px;
                    & span {
                        font-size: 12px;
                        color: white;
                    }
                }
            }
        }
    }
    & .header-bottom {
        width: 100%;
        & .container {
            padding: 15px;
            min-height: 65px;
            display: flex;
            justify-content: space-between;
            & .menu {
                display: block;
                text-align: center;
                & a {
                    color: #E9B02A;
                    align-items: center;
                    font-size: 1rem;
                }
            }
            & .sale-now a {
                text-transform: uppercase;
                font-weight: 500;
                font-size: 1.2rem;
                color: red;
            }
        }
    }
}

banner {
    width: 100%;
    & .banner {
        margin-bottom: 10px;
        width: 100%;
        & img {
            max-width: 100%;
        }
    }
    .slide-banner {
        & ul {
            min-height: 444px;
            position: relative;
            padding: 0px;
            width: 100%;
            & li>img {
                max-width: 100%;
                min-width: 1200px;
            }
            & li {
                position: absolute;
            }
        }
    }
}