html {
  font-family: "Roboto";
}
html li {
  list-style-type: none;
}
html a {
  text-decoration: none;
}
html a:hover {
  text-decoration: none;
}
html .container {
  max-width: 1230px;
}
html .clear {
  padding: 30px;
}

/*Header*/
.header-content .header-top {
  padding: 10px;
  max-height: 60px;
}
.header-content .header-top .container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.header-content .header-top .container .left-content {
  width: 25%;
  display: flex;
  justify-content: space-between;
}
.header-content .header-top .container .left-content small {
  width: 40%;
}
.header-content .header-top .container .left-content .social {
  width: 20%;
}
.header-content .header-top .container .right-content {
  display: flex;
  width: 15%;
  justify-content: space-between;
}
.header-content .header-top .container .right-content #language {
  border: none;
}
.header-content .header-main {
  width: 100%;
  background-color: black;
}
.header-content .header-main .container {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  min-height: 45px;
}
.header-content .header-main .container .logo {
  text-align: center;
  width: 15%;
  max-width: 160px;
}
.header-content .header-main .container .search-box {
  padding-left: 10px;
  display: flex;
  width: 80%;
}
.header-content .header-main .container .search-box select {
  width: 10%;
  background: #EFEFEF;
  border: none;
  border-radius: 5px 0px 0px 5px;
}
.header-content .header-main .container .search-box #text-box-seach {
  width: 75%;
  border: none;
}
.header-content .header-main .container .search-box .btn-search {
  width: 5%;
  background: #E9B02A;
  border-radius: 0px 5px 5px 0px;
  border: none;
  box-shadow: none;
  outline: none;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCAyMCAyMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTE5Ljc3MjIgMTguNjcyNkwxNC44OTEyIDEzLjc5MTdDMTYuMTA0NSAxMi4zMzI4IDE2LjgzNTQgMTAuNDU5MyAxNi44MzU0IDguNDE3OTdDMTYuODM1NCAzLjc3NjI4IDEzLjA1OTIgMCA4LjQxNzc2IDBDMy43NzYxOCAwIDAgMy43NzYyOCAwIDguNDE3OTdDMCAxMy4wNTkzIDMuNzc2MTggMTYuODM1MyA4LjQxNzc2IDE2LjgzNTNDMTAuNDU5IDE2LjgzNTMgMTIuMzMyNSAxNi4xMDQ1IDEzLjc5MTUgMTQuODkxMkwxOC42NzI2IDE5Ljc3MjJDMTguODI0NCAxOS45MjQxIDE5LjAyMzQgMjAgMTkuMjIyNCAyMEMxOS40MjE0IDIwIDE5LjYyMDQgMTkuOTI0MSAxOS43NzIzIDE5Ljc3MjJDMjAuMDc2IDE5LjQ2ODUgMjAuMDc2IDE4Ljk3NjMgMTkuNzcyMiAxOC42NzI2Wk0xLjU1NTE4IDguNDE3OTdDMS41NTUxOCA0LjYzMzgxIDQuNjMzNyAxLjU1NTE4IDguNDE3NzYgMS41NTUxOEMxMi4yMDE3IDEuNTU1MTggMTUuMjgwMSA0LjYzMzgxIDE1LjI4MDEgOC40MTc5N0MxNS4yODAxIDEyLjIwMTggMTIuMjAxNyAxNS4yODAxIDguNDE3NzYgMTUuMjgwMUM0LjYzMzcgMTUuMjgwMSAxLjU1NTE4IDEyLjIwMTggMS41NTUxOCA4LjQxNzk3WiIgZmlsbD0id2hpdGUiLz4KPC9zdmc+Cg==);
  width: 53px;
  min-width: 53px;
}
.header-content .header-main .container .toolbar {
  display: block;
  text-align: right;
  align-items: center;
  position: relative;
  width: 10%;
}
.header-content .header-main .container .toolbar i {
  font-size: 1.5rem;
  color: white;
}
.header-content .header-main .container .toolbar .count-product {
  display: block;
  text-align: center;
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: orange;
  right: 20px;
  top: -5px;
}
.header-content .header-main .container .toolbar .count-product span {
  font-size: 12px;
  color: white;
}
.header-content .header-bottom {
  width: 100%;
}
.header-content .header-bottom .container {
  padding: 15px;
  min-height: 65px;
  display: flex;
  justify-content: space-between;
}
.header-content .header-bottom .container .menu {
  display: block;
  text-align: center;
}
.header-content .header-bottom .container .menu a {
  color: #E9B02A;
  align-items: center;
  font-size: 1rem;
}
.header-content .header-bottom .container .sale-now a {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.2rem;
  color: red;
}

banner .container {
  display: block;
  width: 100%;
}
banner .container .single-banner {
  display: block;
  margin-bottom: 10px;
  width: 100%;
}
banner .container .single-banner img {
  max-width: 100%;
}
banner .container .slide-banner {
  width: 100%;
}
banner .container .slide-banner ul {
  position: relative;
  padding: 0px;
  width: 100%;
  min-height: 480px;
}
banner .container .slide-banner ul li {
  padding: 0px;
  position: absolute;
}
banner .container .slide-banner ul li img {
  max-width: 100%;
  min-width: 1200px;
}

.best-product {
  padding-top: 50px;
  padding-bottom: 20px;
  background-color: #F5F5F5;
}
.best-product .container {
  position: relative;
  width: 100%;
}
.best-product .container .category-title {
  text-align: center;
  margin-bottom: 50px;
}
.best-product .container .category-title a {
  background: #E9B02A;
  border-radius: 5px;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
  padding: 10px 98px;
}
.best-product .container .product {
  padding: 0px;
  width: 100%;
}
.best-product .container .product ul {
  padding: 0px;
  display: flex;
  justify-content: space-between;
}
.best-product .container .product li {
  background-color: white;
  width: 19%;
}
.best-product .container .product li img {
  max-width: 100%;
  border-radius: 10px;
}
.best-product .container .next,
.best-product .container .prev {
  border-radius: 50%;
  background-color: yellow;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  text-align: center;
}

.single-banner .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.single-banner .container a {
  width: 50%;
  margin-bottom: 10px;
}
.single-banner .container a img {
  max-width: 100%;
}
.single-banner .container a:nth-child(3) {
  width: 100%;
}

.home-product-upsell .container .block-heading {
  max-height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}
.home-product-upsell .container .block-heading h1 {
  font-size: 1.8rem;
  width: 25%;
  text-transform: uppercase;
}
.home-product-upsell .container .block-heading div {
  width: 65%;
}
.home-product-upsell .container .block-heading div img {
  max-width: 100%;
}
.home-product-upsell .container .block-heading a {
  font-style: italic;
}
.home-product-upsell .container .product-list ul {
  padding: 0px;
  margin: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.home-product-upsell .container .product-list ul li {
  width: 19%;
  border: solid 0.5px gray;
  border-radius: 15px;
}
.home-product-upsell .container .product-list ul li img {
  max-width: 100%;
  border-radius: 15px;
}

.banner-promotion .container {
  display: block;
}
.banner-promotion .container img {
  width: 100%;
}

.product-suggest {
  margin-top: 30px;
}
.product-suggest .container .block-heading {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  color: white;
  border-radius: 15px 15px 0px 0px;
}
.product-suggest .container .block-heading h3 {
  font-size: 1.1rem;
  text-transform: uppercase;
}
.product-suggest .container .block-heading a {
  margin-right: 15px;
  font-style: italic;
  color: white;
}
.product-suggest .container ul {
  padding: 0px;
  margin: 0px;
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.product-suggest .container ul li {
  width: 19%;
}
.product-suggest .container ul li img {
  max-width: 100%;
}
.product-suggest .container .btn-viewall {
  display: block;
  background: #E9B02A;
  border-radius: 5px;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
  padding: 10px 98px;
}

footer {
  background-color: #EAEAEA;
}
footer .footer-top {
  margin-top: 20px;
}

/*# sourceMappingURL=style.css.map */
